{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'todo/create_style.css' %}">
	<title>TODO_Create</title>
</head>
<body>
    {% if user.is_authenticated %}
    <div class = "login-background">
        <div class = "login-container">
            <div class = "create-todo">
                <h2>新規作成</h2>
                <div class = "input-form">
                    <form method="POST">
                        {% csrf_token %}
                        <div class = "input">
                            <b>タイトル</b>
                            <p>{{ form.title|add_class:"title_form" }}</p>
                        </div>
                        <div class = "input">
                            <b>内容</b>
                            <p>{{ form.contents|add_class:"content_form" }}</p>
                        </div>
                        <div class = "input">
                            <b>カテゴリ</b>
                            <p>{{ form.category|add_class:"category_form" }}</p>
                        </div>
                        <div class = "button">
                            <button>作成</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class = "logout-background">
        <div class = "logout-container">
            <div class = "comment-cont">
                <h1 class = "comment">こんにちは、まずはログインしてください！</h1>
            </div>
            <div class = "new-accounts-cont">
                <a href="{% url 'accounts:new_accounts' %}" style="text-decoration:none;" class = "new-accounts">新規登録</a>
            </div>
            <div class = "login_cont">
                <a href="{% url 'accounts:top' %}" style="text-decoration:none;" class = "login">ログイン</a>
            </div>
        </div>
    </div>
    {% endif %}
</body>
</html>