html {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	flex-direction: column;
	background: white url("images/todo_form_img.jpg") no-repeat;
	background-size: cover;
}

.login-background {
	height: 100%;
	background-color: #FFF;
	background: rgba(255,255,255,0.4);
}

.login-container {
	padding-top: 100px;
	margin: 0;
}

.edit-todo {
	width: 370px;
	background-color: #F0FFF0;
	padding: 30px 10px;
	border-radius: 3px;
	margin: 0 auto;
	box-shadow: 2px 2px 5px #999999;
}

h2 {
	width:360px;
	color: #20B2AA;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: solid 1px;
	border-color: #AAAAAA;
	margin: 0 auto;
}

.edit-form {
	width: 310px;
	text-align: left;
	margin: 0 auto;
}

.input {
	padding: 0;
	margin: 20px 0;
}

.edit-form p, b {
	color: #20B2AA;
	padding: 0;
	margin: 0;
}

.title-form, .content-form {
	width: 310px;
}

.title-form, .category-form {
	height: 30px;
}

.button {
	margin-top: 60px;
	text-align: center;
}

button {
	height: 40px;
	width: 80px;
	font-size: 15px;
	color: #FFF;
	background-color: #20B2AA;
	border: none;
	border-radius: 3px;
	opacity: 0.7;
}

button:hover {
	opacity: 1.0;
}

button:focus {
	outline: 0;
}

.logout-background {
	height: 100%;
	padding:  0 0 0;
	margin: 0;
	background: rgba(0,0,0,0.6);
	z-index: 10;
}

.logout-container {
	padding: 0;
	padding: 200px 0 0 0;
}

.comment-cont {
	color: #FFF;
	text-align: center;
}

.login-cont,
.new-accounts-cont {
	width: 500px;
	background-color: #FFF;
	padding:0;
	border-radius: 3px;
	margin: 50px auto 0 auto;
	box-shadow: 2px 2px 5px #444444;
}


.new-accounts,
.login {
	font-size: 20px;
	color: #FFF;
	text-align: center;
	padding: 30px 0;
	border-radius: 3px;
	margin: 50px 0;
	display: block;
	opacity: 0.7;
}

.new-accounts {
	background-color: #FF4F50;
}

.login {
	background-color: #4169E1;
}